* {
    margin: 0;
    padding: 0;
   
}

@font-face {
    font-family: Sans-Regular;  /**Arial Narrow, sans-serif**/
    src: url("../fonts/OpenSans-Regular.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Sans-Bold; /**Arial Black, sans-serif**/
    src: url("../fonts/OpenSans-Bold.woff");
    font-weight: 700;
    font-style: normal;
}

.background-styles {
    position: relative;
    height: 560px;
    max-height: 650px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: #14173a;
}

.background-styles::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #14173a;
    opacity: 0.9;
}

.header {
    background-image: url("../images/football_767.jpg");
}

.header-container {
    width: 320px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 1;

    
}

.logo {
    padding-top: 30px;
    text-align: center;
}

.logo-icon {
    width: 130px;
    height: 35px;
    fill: #ffffff;
}

.title {
    padding: 85px 20px 0 20px;
    
}

.header-title {
    font-family: Sans-Bold, "Arial Black", sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    color: #ffffff;
}

.header-position {
    display: block;
    padding-top: 10px;
    padding-left: 45px;
}

.btn-shop {
    padding-top: 85px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.shop-inner {
    display: flex;
    width: 120px;
}

.shop-link {
    display: flex;
    justify-content: center;
    width: 280px;
    height: 35px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #5e42b0;
    text-decoration: none;
}

.shop-link:nth-child(1n+2) {
    margin-top: 3vh;
}

.shop-icon {
    width: 25px;
    fill: #ffffff;
}

.conteinet-shop {
    padding-left: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-link-regular {
    display: block;
    font-family: Sans-Regular, "Arial Narrow", sans-serif;
    text-transform: uppercase;
    font-size: 8px;
    color: #ffffff;
}

.text-link-bold {
    font-family: Sans-Bold, "Arial Black", sans-serif;
    text-transform: uppercase;
    font-size: 8px;
    color: #ffffff;
}

/** Конец header **/

.content-holder {
    position: relative;
}

.content-flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-header { 
    padding-top: 25px;   
    background-color: #ffffff;
}

.content-title {
    width: 320px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;

    font-family: Sans-Bold, "Arial Black", sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    color: #e7e7e7;
}

.content-img-box {
    height: 225px;
}

.content-img {
    position: absolute;
}

.content-text {
    padding-top: 70px;
    padding-bottom: 50px;
}

.content-text:nth-child(1n+2) {
    padding-top: 50px;
}
.content-text:nth-of-type(3n+1) {
    background-color: #fafafa;
}

.content-text:nth-of-type(3n+2) {
    background-color: #f5f4f9;
}

.content-text:nth-of-type(3n+3) {
    background-color: #5e42b0;
}

.content-text-box {
    box-sizing: border-box;
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
}

.content-text-title {
    display: flex;
    
    font-family: Sans-Bold, "Arial Black", sans-serif;
    text-transform: uppercase;
    font-size: 23px;
    color: #c1c1c1;
}

.content-text-number {
    padding-right: 5px;
    font-size: 14px;
    color: #000000;
    line-height: 21px;
}

.content-text-number::after {
    content: "";
    display: block;
    position: relative;
    bottom: 0px;
    width: 15px;
    height: 4px;
    border-radius: 2px;
    background: #5e42b0;
}

.content-article {
    padding-top: 15px;
    font-family: Sans-Regular, "Arial Narrow", sans-serif;
    font-size: 15px;
    color: #000000;
}
